# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MS files
*.pdb
*.ilk

# DLL required to run
!jsoncpp.dll

# cmake
CMakeFiles
*.vcxproj
*.vcxproj.filters
*.cmake
*CMakeCache.txt
*.sln
*.lastbuildstate
*.tlog
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog

# my project
log.txt
save_data/game_state.dat
