<?xml version="1.0" encoding="utf-8"?>
<Game
  configVersion="1">
  <Identity
    Name="63141GnarlyTyke.BuckWood"
    Publisher="CN=36BC00C6-EA0D-4C79-8658-2A110AD2AA9E"
    Version="1.0.0.0" />
  <ShellVisuals
    StoreLogo="StoreLogo.png"
    Square150x150Logo="Square150x150Logo.png"
    Square44x44Logo="Square44x44Logo.png"
    Square480x480Logo="default480x480.png"
    SplashScreenImage="SplashScreenImage.png" />
  <ExecutableList>
    <Executable
      Name="app.exe"
      TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  <MSAAppId>84b9537a-cd43-48d8-a86a-afdd380b0ec7</MSAAppId>
  <TitleId>FFFFFFFF</TitleId>
  <AdvancedUserModel>true</AdvancedUserModel>
</Game>